* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: rgb(74, 74, 247);
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: white;
}
main {
  background-color: white;
  width: 800px;
  margin: 20px auto;
  border-radius: 15px;
}

.section--1 {
  width: 80%;
  margin: auto;
  padding: 100px 0 60px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-title {
  text-align: center;
  font-size: 32px;
  letter-spacing: 2px;
}

.form--add {
  display: grid;
  grid-template-columns: 76% 20%;
  gap: 4%;
  height: 40px;
}

.add--input {
  font-size: larger;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, rgb(255 0 0), rgb(255, 196, 0));
  border-image-slice: 1;
}

.button--add {
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
}

.section--2 {
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article--secondSection {
  width: 100%;
  height: 75px;
  background-color: orange;
  color: white;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
}

.task-toDo {
  margin-left: 20px;
  font-size: 22px;
}

.icons {
  display: flex;
  gap: 10px;
}

.img--icon {
  width: 25px;
}

.icon--border {
  background-color: white;
  border-radius: 50%;
  border: none;
  padding: 5px;
}

.section--3 {
  width: 80%;
  margin: auto;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  display: none;
}

.form-modify-list {
  display: grid;
  height: 100px;
  gap: 20px;
}

.height-input-thirdSection {
  height: 35px;
}

.time-update-modify {
  display: flex;
  justify-content: space-between;
}

.section3-buttons {
  display: flex;
  gap: 30px;
  margin: auto;
}

.button {
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 128px;
  height: 40px;
}

.color--firstInputThirdSection {
  border: 3px solid transparent;
  border-image: linear-gradient(to right, rgb(200, 0, 255), rgb(93, 0, 255));
  border-image-slice: 1;
}

.color--secondInputThirdSection {
  border: 3px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 0, 225), rgb(214, 0, 0));
  border-image-slice: 1;
}
